doctype html
html(lang="en")
head
    title Authentication | #{title}
    link(rel="stylesheet", href="styles/styles.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet")